@import "const";
@import "includes/navbar";
@import "includes/footer";
@import "sections/home";
@import "sections/info";

body {
  background-image: url(../img/background.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.4;
}

h1,
h2,
h3,
h4 {
    font-family: 'Lobster', cursive;
}

.header{
  text-align: center;
  font-size: 2em;
  font-weight: 800;
  padding-bottom: 1.5em;
  text-decoration: underline;
}

