@import "const";
@import "includes/navbar";
@import "includes/footer";
@import "sections/home";

body {
  background-image: url(../img/background.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  line-height: 1.4;
}

h1,
h2,
h3,
h4 {
    font-family: 'Lobster', cursive;
}

.center{
  margin: auto;
}
