@import "const";
@import "includes/navbar";
@import "includes/footer";
@import "sections/home";
@import "sections/info";
@import "sections/menu-c";
@import "sections/gallery";
@import "sections/contact";
@import "sections/menu-d";


h1,
h2,
h3,
h4 {
    font-family: 'Lobster', cursive;
}

.no-data{
  font-size: 2em;
  text-align: center;
  padding-top: 10em;
  font-weight: bold;
}

.headers{
  text-align: center;
  font-size: 2.5em;
  font-weight: 800;
  padding-bottom: 1.5em;
  padding-top: 1em;
  text-decoration: underline;
}

.header{
  text-align: center;
  font-size: 1.4em !important;
  padding-bottom: 1.5em;
}

