$default_background: rgba(190, 190, 190, 0.651);
$home_header: rgb(194, 81, 0);
$home_text: rgb(255, 255, 255);
$date: rgb(63, 61, 61);
$space_content: 1.75em;
$details_background: rgb(163, 160, 156);
