/* line 1, app/restaurant/static/css/includes/navbar.scss */
.container {
  width: 100%;
  height: 20%;
  display: flex; }
  /* line 6, app/restaurant/static/css/includes/navbar.scss */
  .container .nav {
    background: white;
    width: 40%;
    border-bottom: 2px solid;
    height: fit-content;
    padding: .8em 0;
    display: flex;
    justify-content: space-around;
    box-shadow: 6px 3px 20px 0px rgba(0, 0, 0, 0.8); }
    /* line 16, app/restaurant/static/css/includes/navbar.scss */
    .container .nav .item {
      padding: 1em;
      text-align: center;
      width: 100%; }
      /* line 21, app/restaurant/static/css/includes/navbar.scss */
      .container .nav .item a {
        color: black; }
  /* line 28, app/restaurant/static/css/includes/navbar.scss */
  .container .logo {
    width: 20%;
    height: 80%;
    background: white;
    padding: .3em;
    padding-top: 0;
    box-shadow: 6px 3px 20px 0px rgba(0, 0, 0, 0.8); }
    /* line 36, app/restaurant/static/css/includes/navbar.scss */
    .container .logo img {
      height: 100%;
      width: 100%; }

/* line 1, app/restaurant/static/css/includes/footer.scss */
.column {
  display: flex;
  margin: auto;
  width: fit-content; }
  /* line 6, app/restaurant/static/css/includes/footer.scss */
  .column .cont {
    width: fit-content;
    text-align: center;
    font-size: 1.25em; }
  /* line 12, app/restaurant/static/css/includes/footer.scss */
  .column .cont:first-child {
    padding-right: .7em; }

/* line 17, app/restaurant/static/css/includes/footer.scss */
.footer {
  clear: both;
  position: relative;
  background: #dbd6d6;
  padding: .2em;
  height: 4%; }

/* line 1, app/restaurant/static/css/sections/home.scss */
.home {
  height: 80vh;
  color: white;
  font-size: 2em;
  text-align: center;
  padding-top: 4em;
  border-bottom: 2px solid white;
  border-radius: 20% 20% 20%; }
  /* line 10, app/restaurant/static/css/sections/home.scss */
  .home .title {
    width: fit-content;
    background-color: rgba(253, 233, 207, 0.678);
    margin: auto;
    padding: .7em 1em;
    text-align: center;
    color: black; }

/* line 1, app/restaurant/static/css/sections/info.scss */
#info {
  padding-top: 2em;
  padding-bottom: 4em; }
  /* line 5, app/restaurant/static/css/sections/info.scss */
  #info img {
    width: 100%;
    height: 100%; }
  /* line 10, app/restaurant/static/css/sections/info.scss */
  #info .ui.segment {
    padding: 0;
    border: 0;
    box-shadow: 0 0 0 0 rgba(34, 36, 38, 0); }
  /* line 16, app/restaurant/static/css/sections/info.scss */
  #info .column {
    margin: 0 auto; }
  /* line 20, app/restaurant/static/css/sections/info.scss */
  #info p {
    font-size: 1.2em;
    text-align: center;
    padding-right: 1.3em; }

/* line 1, app/restaurant/static/css/sections/menu-c.scss */
#menu-c {
  background: rgba(0, 0, 0, 0.05); }
  /* line 4, app/restaurant/static/css/sections/menu-c.scss */
  #menu-c .ui.cards {
    padding-bottom: 2em;
    padding-top: 2em;
    width: 70%;
    margin: auto;
    justify-content: space-between;
    z-index: 0; }
    /* line 12, app/restaurant/static/css/sections/menu-c.scss */
    #menu-c .ui.cards .card {
      box-shadow: none !important;
      background: rgba(0, 0, 0, 0); }
  /* line 18, app/restaurant/static/css/sections/menu-c.scss */
  #menu-c a {
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 700;
    line-height: 5em;
    height: 90%; }
  /* line 26, app/restaurant/static/css/sections/menu-c.scss */
  #menu-c a:hover {
    background: rgba(0, 0, 0, 0.075); }
  /* line 30, app/restaurant/static/css/sections/menu-c.scss */
  #menu-c .content {
    border-top: none; }
  /* line 34, app/restaurant/static/css/sections/menu-c.scss */
  #menu-c img {
    height: 12em; }
  /* line 38, app/restaurant/static/css/sections/menu-c.scss */
  #menu-c .ui.card:after, #menu-c .ui.cards:after {
    content: none; }
  /* line 42, app/restaurant/static/css/sections/menu-c.scss */
  #menu-c .square.image {
    padding-top: 60% !important; }

/* line 2, app/restaurant/static/css/sections/gallery.scss */
#gallery .ui.images {
  width: fit-content;
  margin: auto;
  display: flex; }

/* line 9, app/restaurant/static/css/base.scss */
body {
  background-image: url(/static/img/background.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.4; }

/* line 17, app/restaurant/static/css/base.scss */
h1,
h2,
h3,
h4 {
  font-family: 'Lobster', cursive; }

/* line 24, app/restaurant/static/css/base.scss */
.headers {
  text-align: center;
  font-size: 2em;
  font-weight: 800;
  padding-bottom: 1.5em;
  padding-top: 1em;
  text-decoration: underline; }

/* line 33, app/restaurant/static/css/base.scss */
.header {
  text-align: center;
  font-size: 1.4em !important;
  padding-bottom: 1.5em; }
