/* line 1, app/restaurant/static/css/includes/navbar.scss */
.container {
  width: 100%;
  padding: 1em;
  display: flex;
  border-bottom: 2px solid; }
  /* line 7, app/restaurant/static/css/includes/navbar.scss */
  .container .nav {
    display: flex;
    text-align: center;
    font-size: 1rem;
    width: 40%; }
  /* line 14, app/restaurant/static/css/includes/navbar.scss */
  .container .logo {
    width: 20%; }

/* line 1, app/restaurant/static/css/includes/footer.scss */
.column {
  display: flex;
  margin: auto;
  width: fit-content; }
  /* line 6, app/restaurant/static/css/includes/footer.scss */
  .column .cont {
    width: 6.5em;
    text-align: center;
    font-size: 1.25em; }

/* line 5, app/restaurant/static/css/base.scss */
body {
  background: rgba(190, 190, 190, 0.651);
  line-height: 1.4; }

/* line 10, app/restaurant/static/css/base.scss */
h1,
h2,
h3,
h4 {
  font-family: 'Lobster', cursive; }

/* line 17, app/restaurant/static/css/base.scss */
.center {
  margin: auto; }
