/* line 1, app/restaurant/static/css/includes/navbar.scss */
.container {
  width: 100%;
  height: 20%;
  display: flex; }
  /* line 6, app/restaurant/static/css/includes/navbar.scss */
  .container .nav {
    background: white;
    width: 40%;
    border-bottom: 2px solid;
    height: fit-content;
    padding: .8em 0;
    display: flex;
    justify-content: space-around;
    box-shadow: 6px 3px 20px 0px rgba(0, 0, 0, 0.8); }
    /* line 16, app/restaurant/static/css/includes/navbar.scss */
    .container .nav .item {
      padding: 1em;
      text-align: center;
      width: 100%; }
      /* line 21, app/restaurant/static/css/includes/navbar.scss */
      .container .nav .item a {
        color: black; }
  /* line 28, app/restaurant/static/css/includes/navbar.scss */
  .container .logo {
    width: 20%;
    height: 80%;
    background: white;
    padding: .3em;
    padding-top: 0;
    box-shadow: 6px 3px 20px 0px rgba(0, 0, 0, 0.8); }
    /* line 36, app/restaurant/static/css/includes/navbar.scss */
    .container .logo img {
      height: 100%;
      width: 100%; }

/* line 1, app/restaurant/static/css/includes/footer.scss */
.column {
  display: flex;
  margin: auto;
  width: fit-content; }
  /* line 6, app/restaurant/static/css/includes/footer.scss */
  .column .cont {
    width: 6.5em;
    text-align: center;
    font-size: 1.25em; }

/* line 5, app/restaurant/static/css/base.scss */
body {
  background: rgba(255, 255, 255, 0.404);
  background-image: url(/static/img/background.jpg);
  line-height: 1.4; }

/* line 11, app/restaurant/static/css/base.scss */
h1,
h2,
h3,
h4 {
  font-family: 'Lobster', cursive; }

/* line 18, app/restaurant/static/css/base.scss */
.center {
  margin: auto; }
