#contact{
  background: rgba(0,0,0,.05);
  border-top: 1px solid rgba(105, 102, 102, 0.185);

  .left{
    padding-right: 1.6em;
  }

  .sector{
    width: fit-content;
    margin: auto;
  }

  .fb{
    display: flex;
    font-size: 1.2em;
  }

  .fb:hover{
    color: rgb(49, 113, 170);
  }

  .facebook.icon{
    color: rgb(2, 2, 172);
  }

  .item{
    padding-bottom: 1.8em;
    display: flex;
    font-size: 1.5em;
  }

  .list{
    display: flex;
    width: 100%;
    padding-top: 3em;
  }

  //map stylization //

  .mapouter{
    position:relative;
    text-align:right;
  }

  .gmap_canvas{
    overflow:hidden;
    background:none!important;
    width: 100%;
  }

  iframe{
    width: 100%;
    height: 19em;
  }
}
