#gallery{
  border-top: 1px solid rgba(105, 102, 102, 0.185);

    .ui.cards{
      padding-bottom: 2em;
      padding-top: 2em;
      width: 80%;
      margin: auto;
      justify-content: space-between;
      z-index: 0;

      .card{
        width: 30%;
      }
    }

    .ui.card:after, .ui.cards:after{
      content: none;
    }

    .category{
      text-align: center;
      font-size: 2em;
    }
}
