.home{
  height: 100%;
  background-image: url(../img/backgrounds/home.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -180px;
  padding-top: 20em;

  .title{
    font-size: 1.5em;
    width: fit-content;
    background-color: rgba(253, 233, 207, 0.678);
    margin: auto;
    padding: .7em 1em;
    text-align: center;
    color: black;
  }
}
