[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=2.2,<2.3"

django_compressor = ">=2.3,<2.4"
django-libsass = ">=0.7,<0.8"
csscompressor = ">=0.9,<1.0"

[dev-packages]
autopep8 = "*"
pylint = "*"
rope = "*"

[requires]
python_version = "3.7"
