{% load static %}

{% block navbar %}
<div class="container">
  <div class="nav">
    <div class="item">
      <a href="#info"><button class="ui blue tertiary button">O nas</button></a>
    </div>
    <div class="item">
      <a href="#menu-c"><button class="ui blue tertiary button">Menu</button></a>
    </div>
  </div>
  <div class="logo">
    <a href="/">
      <img src="{% static 'img/logo.png' %}">
    </a>
  </div>
  <div class="nav">
    <div class="item">
      <a href="#gallery"><button class="ui blue tertiary button">Galeria</button></a>
    </div>
    <div class="item">
      <a href="#contact"><button class="ui blue tertiary button">Kontakt</button></a>
    </div>
  </div>
</div>
{% endblock %}
