{% load static %}

{% block navbar %}
<div class="container">
  <div class="nav">
    <div class="item">
      <button class="ui blue tertiary button"><a href="#info">O nas</a></button>
    </div>
    <div class="item">
      <button class="ui blue tertiary button"><a href="#menu-c">Menu</a></button>
    </div>
  </div>
  <div class="logo">
    <a href="/">
      <img src="{% static 'img/logo.png' %}">
    </a>
  </div>
  <div class="nav">
    <div class="item">
      <button class="ui blue tertiary button"><a href="#gallery">Galeria</a></button>
    </div>
    <div class="item">
      <button class="ui blue tertiary button"><a href="#contact">Kontakt</a></button>
    </div>
  </div>
</div>
{% endblock %}
