.column{
  display: flex;
  margin: auto;
  width: fit-content;

  .cont{
    width: fit-content;
    text-align: center;
    font-size: 1.25em;
  }

  .cont:first-child{
    padding-right: .7em;
  }
}

.footer {
  clear: both;
  position: relative;
  background: rgb(219, 214, 214);
  padding: .2em;
  height: 4%;
}
