.container{
  width: 100%;
  height: 20%;
  display: flex;

  .nav{
    background: white;
    width: 40%;
    border-bottom: 2px solid;
    height: fit-content;
    padding: .8em 0;
    display: flex;
    justify-content: space-around;
    box-shadow: 6px 3px 20px 0px rgba(0, 0, 0, 0.8);

    .item{
      padding: 1em;
      text-align: center;
      width: 100%;
      transition-duration:4s;
    }
  }

  .ui.blue.tertiary.button{
    color: black;
  }

  .logo{
    width: 20%;
    height: 80%;
    background: rgb(255, 255, 255);
    padding: .3em;
    padding-top: 0;
    box-shadow: 6px 3px 20px 0px rgba(0, 0, 0, 0.8);

    img{
      height: 100%;
      width: 100%;
    }
  }
}
