{% load static %}

{% block gallery %}

<div id="gallery">
  <div class="headers">Galeria</div>

  <div class="category">Wnętrze</div>

<div class="ui cards">
  <div class="card">
    <div class="image">
      <img src="{% static 'img/work.jpg' %}">
    </div>
  </div>

  <div class="card">
    <div class="image">
      <img src="{% static 'img/work.jpg' %}">
    </div>
  </div>

  <div class="card">
    <div class="image">
      <img src="{% static 'img/work.jpg' %}">
    </div>
  </div>


  <div class="card">
    <div class="image">
      <img src="{% static 'img/work.jpg' %}">
    </div>
  </div>

  <div class="card">
    <div class="image">
      <img src="{% static 'img/work.jpg' %}">
    </div>
  </div>

  <div class="card">
    <div class="image">
      <img src="{% static 'img/work.jpg' %}">
    </div>
  </div>


</div>

{% endblock %}
