{% load static %}

{% block info %}
<div id="info">
  <div class="ui segment">
  <div class="ui two column very relaxed grid">
    <div class="column">
      <img src="{% static 'img/work.jpg' %}">
    </div>
    <div class="column">
      <div class="headers">O Nas</div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum viverra, leo non tincidunt rhoncus, odio metus mattis ex, ac hendrerit neque elit sed ante. Donec a justo pellentesque, viverra mauris vel, volutpat justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer aliquet, erat eu cursus auctor, nulla ex viverra odio, non vulputate arcu ante nec eros. Nulla non libero sit amet tortor placerat dapibus non rutrum eros. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec ut neque laoreet, porttitor nulla ullamcorper, euismod risus. Ut sed eros eget purus bibendum bibendum. Fusce tempus, sem quis facilisis ullamcorper, sem ipsum fermentum erat, eu laoreet dolor massa vitae magna. Praesent rhoncus libero vel sem consectetur fringilla. Maecenas tempor pulvinar auctor.

      Praesent nibh risus, iaculis vel interdum at, pharetra ac ipsum. Integer turpis erat, ultricies rutrum finibus eget, tempor in augue. Sed molestie ut erat eu fringilla. Nam a rutrum metus. Integer sed maximus sapien. Cras id laoreet eros. Mauris scelerisque vestibulum lorem in suscipit. Aliquam elementum rutrum neque et scelerisque. Proin sollicitudin dapibus arcu quis interdum.
      </p>
    </div>
  </div>
  </div>
</div>
{% endblock %}
