{% load static %}

{% block menu-categories %}
<div id="menu-c">
  <div class="headers">Menu</div>

  <div class="ui cards">

  <div class="card">
    <a href="">
    <div class="ui fluid image">
        <div class="image">
          <img src="{% static 'img/temporary/pizza.png' %}">
        </div>
    </div>
    <div class="content">
      <div class="header center">Pizza</div>
    </div>
    </a>
  </div>

  <div class="card">
    <a href="">
    <div class="ui fluid image">
        <div class="image">
          <img src="{% static 'img/temporary/zupy.png' %}">
        </div>
    </div>
    <div class="content">
      <div class="header center">Zupy</div>
    </div>
    </a>
  </div>

  <div class="card">
    <a href="">
    <div class="ui fluid image">
        <div class="image">
          <img src="{% static 'img/temporary/przystawki.png' %}">
        </div>
    </div>
    <div class="content">
      <div class="header center">Przystawki</div>
    </div>
    </a>
  </div>

  <div class="card">
    <a href="">
    <div class="ui fluid image">
        <div class="image">
          <img src="{% static 'img/temporary/1danie.png' %}">
        </div>
    </div>
    <div class="content">
      <div class="header center">Pierwsze dania</div>
    </div>
    </a>
  </div>

  <div class="card">
    <a href="">
    <div class="ui fluid image">
        <div class="image">
          <img src="{% static 'img/temporary/2danie.png' %}">
        </div>
    </div>
    <div class="content">
      <div class="header center">Drugie dania</div>
    </div>
    </a>
  </div>

  <div class="card">
    <a href="">
    <div class="ui fluid image">
        <div class="image">
          <img src="{% static 'img/temporary/napoje.png' %}">
        </div>
    </div>
    <div class="content">
      <div class="header center">Napoje</div>
    </div>
    </a>
  </div>

  <div class="card">
    <a href="">
    <div class="ui fluid image">
        <div class="image">
          <img src="{% static 'img/temporary/desery.png' %}">
        </div>
    </div>
    <div class="content">
      <div class="header center">Desery</div>
    </div>
    </a>
  </div>

  <div class="card">
    <a href="">
    <div class="ui fluid image">
        <div class="image">
          <img src="{% static 'img/temporary/dzieci.png' %}">
        </div>
    </div>
    <div class="content">
      <div class="header center">Dla dzieci</div>
    </div>
    </a>
  </div>

</div>
</div>
{% endblock %}
